body{
    background: #3A4F50;
    font-family: 'Trebuchet MS', sans-serif;
}
#portfolio{
    height: 200vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.portf_cont{
    display: flex;
    border: 1px solid transparent;
    align-items: center;
    flex-direction: column;
    margin-top: 220px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    padding: 60px 65px;
    border-radius: 15px;
    background-color: #cccdcd;
}
#portfolio > h1{
    text-align: center;
    width: 100%;
    margin-top: 300px;
}
.button{
    display: flex;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 3px 3px;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.10);
    font-size: 1.6rem;
    transition: all 0.7s ease;
    margin: 3px ;
}
.button:hover{
    border-color: black;
    box-shadow: none;
}
.scroll_but:hover{
    border-color: black;
    box-shadow: none;
}
h2{
    display: flex;
    justify-content: center;
}
h6{
    display: flex;
    margin: 1px 0 9px 0;
}
.buttons{
    display: flex;
    flex-direction: row;
}
.scroll_but{
    display: flex;
    text-decoration: none;
    color: black;
    transition: all 0.7s ease;
    border: 2px solid transparent;
    padding: 3px 3px;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.10);
    font-size: 1.6rem;
    margin: 90px 0 0 0;
    font-size: 2.5rem;
    transform: translate(0, -50%);
    transition: all 0.5s;
    background-color: #cccdcd;
}
html{
    scroll-behavior: smooth;
}
.scroll_but:hover{
    opacity: 0.7;
}
.scroll_but::before{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 46px;
    height: 46px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    animation: pulse 3s infinite;
}
@keyframes pulse{
    0%, 100%{
        opacity: 0;
    }
    15%, 45%{
        opacity: 1;
    }
    60%{
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
        opacity: 1;
    }
}
.scroll_but-top{
    display: flex;
    position: fixed;
    right: 30px;
    bottom: 20px;
    text-decoration: none;
    color: black;
    transition: all 0.7s ease;
    border: 2px solid transparent;
    padding: 3px 3px;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
    font-size: 1.6rem;
    font-size: 2.5rem;
    transform: translate(0, -50%);
    transition: all 0.5s;
    background-color: #cccdcd;
}
.scroll_but-top:hover{
    border-color: black;
    box-shadow: none;
}
section{
    display: flex;
    flex-direction: row;
}
.about_cont{
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 20px;
    width: 110%;
    border: 1px solid transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 0 20px;
    transition: all 0.7 ease;
    background-color: #cccdcd;
}
h2{
    border: 1px solid transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 5px;
    background-color: #0EF6cc;
}
.about{
    display: flex;
    font-size: large;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 15px;
    text-align: bottom;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    background-color: #0EF6cc;
}
.hobb_cont{
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 20px;
    border: 1px solid transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 0 20px 20px;
    transition: all 0.7 ease;
    background-color: #cccdcd
}
.hobbies{
    display: flex;
    font-size: large;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);  
    background-color: #0EF6cc; 
}
.languages_cont{
    display: flex;
    flex-direction: column;
    margin: 30px 20px 30px 20px;
}
.languages{
    display: flex;
    border: 1px solid transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-size: large;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 20px;
    padding-top: 20px;
    transition: all 0.3s ease;
    background-color: #cccdcd;
}
.img{
    display: flex;
    flex-direction: column;
}
.star-disighn{
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}
.disighn{
    display: flex;
    font-size: 7rem;
}
.icon{
    display: flex;
    align-items: center;
    margin: 0 3px;
}